{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block h1 %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}

    <div>
        <p>Entrez le code d'accès reçu par e-mail et votre nouveau mot de passe.</p>
    </div>
    <div>
        <form action="" method="post">
            <div>
                <label for="code"> Code d'accès :</label>
                <input type="text" name="code" id="code">
            </div>
            <div>
                <label for="password"> Nouveau mot de passe :</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="password2"> Confirmation :</label>
                <input type="password" name="password2" id="password2">
            </div>
        </form>
        <a href="{{ path('event_index') }}">
            <button>Valider</button></a>
    </div>
{% endblock %}