{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block h1 %}Mot de passe oublié{% endblock %}

{% block body %}

    <div>
        <p>Entrez votre e-mail ainsi qu'un numéro de portable.
            Un code de confirmation va vous être envoyé. Il vous permettra
        d'entrer le code d'accès reçu afin de réinitialiser votre mot de passe.</p>
    </div>
<div>
    <form action="" method="post">
        <div>
            <label for="email"> Votre e-mail :</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="phone"> Numéro de mobile :</label>
            <input type="text" name="phone" id="phone">
        </div>
    </form>
</div>
    <div>
        <a href="{{ path('newpassword') }}">
            <button>Valider</button></a>
    </div>
{% endblock %}



