body {
    background: url(../img/bg4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #54002f;
    font-size: 1.1em;
    font-weight: bold;
}

a {
    color: #54002f;
}

a:hover {
    color: #ab006d;
}

.icone-actions {
    font-size: 2em;
}

.container {
    color: black;
    background: rgba(255, 240, 255, 100%);
}

.jumbotron {
    background: rgba(255, 180, 200, 100%);
}

nav {
    background: rgba(255, 230, 255, 100%);
}

h1 {
    font-weight: bold;
    color: #1f232b;
}

h2 {
    font-weight: bold;
    color: #1f232b;
}

.nav-link {
    color: #54002f;
    font-size: 1.6em;
    font-weight: bold;
}

.btn {
    background: #1b1e21;
    border: none;
    border-radius: 18px;
}

.btn:hover {
    background: #181b21;
}

.btn-success {
    background: rebeccapurple;
}

.btn-primary {
    background: #1b1e21;
}

.btn-info {
    background: rebeccapurple;
}