{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block h1 %}Modifier l'école {{ place.name }}{% endblock %}

{% block body %}
    {{ include('place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('place_index') }}">back to list</a>

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
