{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle école{% endblock %}

{% block h1 %}Nouvelle école ENI{% endblock %}

{% block body %}

    {{ include('place/_form.html.twig') }}

    <a href="{{ path('place_index') }}">back to list</a>
{% endblock %}
