<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue sur Sortir.com !{% endblock %}</title>
    {% include 'technical/_assets.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'technical/_menu.html.twig' %}

<h1 class="text-center">{% block h1 %}{% endblock %}</h1>

<div class="container">
    {% include 'technical/_flash.html.twig' %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
