<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue sur Sortir.com !{% endblock %}</title>
    {% include 'technical/_assets.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="jumbotron">
    <h1>{% block h1 %}{% endblock %}</h1>
{% include 'technical/_menu.html.twig' %}
</div>

<div class="container">
{% include 'technical/_flash.html.twig' %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
