{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block h1 %}Modification du profil utilisateur {{ user.username }}{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('user_index') }}">Retour à la liste</a>

{% endblock %}
